ion-content{
  --background: url(../../assets/images/background1.jpg);
  --background-repeat: no-repeat;
  --background-size: cover; 
 z-index: 2;

}

h3{
  margin-top: 40px;
  margin-left:30px;
font-weight: bold;

}
    
    .email{
    
    color: grey;
    
    }
    
    ion-item{
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
    
    }
    
    ion-button{
    
    text-transform: capitalize;
    
    margin: 40px;
    
    
    }
    
   
    
#margin{

    position: relative;
    bottom: 11px
}
    div{
      text-align:  center;
    }
    
    .Rbutton{
    
      --background: rgb(255,100,87);
    --background: linear-gradient(90deg, rgba(255,100,87,1) 0%, rgba(223,37,85,1) 100%);
    
    }
    
    
    
    #border{
    border-width: 3px;
    border-color: white;
    border-style: solid;
    border-top-left-radius: 60px;
    border-top-right-radius: 60px;
    z-index: 1;
    background-color: white;
    position: fixed;
    left: 0%;
    right: 0%;
    bottom: 0%;
    }
    
    
    .logo{
    
     --background: url(../../assets/images/logo.JPG);
    position: fixed;
    top: 20px;
    width: 210px;
      
    }

    .my-custom-class .alert-wrapper {
      background: #e5e5e5;
    }
    
    