.profile{
    
    border-style: double;
    border-color: red;
    border-width: 5px;
    
  /*  border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;*/
}

