<ion-content fullscreen>
  <ion-buttons>
    <ion-back-button defaultHref="/home"></ion-back-button>
  </ion-buttons>
  <ion-item  class="logo"></ion-item>

  <ion-toolbar id="border">
    
    <h3>Password Reset</h3>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
  
      <ion-label position="floating" class="email">Enter your Email</ion-label>
      
      <ion-input  formControlName="email" type="email" required></ion-input>
    
    </ion-item>
  
    
  <div>
    <ion-button expand="block" fill="outline" shape="round" color="danger" class="button">Send OTP</ion-button>
    
         
        <ion-button expand="block" fill="solid" shape="round" class="Rbutton"  routerLink="/sign-in" router-Direction="forward">Create Account</ion-button>
  
      </div>
      </form>
 
  </ion-toolbar>
  </ion-content>




  
  
