<ion-content fullscreen>

  <ion-item  class="logo"></ion-item>

  <ion-toolbar id="border">
    
    <h3>Welcome</h3>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
    <ion-item>
  
      <ion-label position="floating" class="email">Email</ion-label>
      
      <ion-input type="email" formControlName="email" required></ion-input>
    
    </ion-item>
  
    <ion-item>
  
      <ion-label position="floating" class="email">Password</ion-label>
      
      <ion-input type="password"  formControlName="password" required></ion-input>
    
    </ion-item>
  <div>
    <ion-button expand="block" fill="outline" shape="round" color="danger" class="button" type="submit">Sign In</ion-button>
    <ion-text routerLink="/forgot-password" router-Direction="forward">
          Forgot Password?
        </ion-text>
        <ion-button expand="block" fill="solid" shape="round" class="Rbutton" routerLink="/sign-in" router-Direction="forward">Create Account</ion-button>
  
      </div>
      </form>
 
  </ion-toolbar>
  </ion-content>




  
  
