<ion-list class="ion-no-margin ion-no-padding">  
  <ion-list-header color="dark" class="text-10">  
    <ion-label class="fw700">Notifications</ion-label>  
  </ion-list-header>  

  <ion-item color="secondary" class="text-10">  
    <ion-icon name="mail" color="light"></ion-icon>  
    <ion-label>New Offer 30% OFF</ion-label>  
  </ion-item>  

  <ion-item color="light" class="text-10">  
    <ion-icon name="mail-open" color="primary"></ion-icon>  
    <ion-label>New Offer 15% OFF by month!</ion-label>  
  </ion-item>  

  <ion-item color="secondary" class="text-10">  
    <ion-icon name="mail" color="light"></ion-icon>  
    <ion-label>New Offer 45% OFF</ion-label>  
  </ion-item>  

  <ion-item color="light" class="text-10">  
    <ion-icon name="mail-open" color="primary"></ion-icon>  
    <ion-label>New Offer 25% OFF on Credit Card!</ion-label>  
  </ion-item>  

  <ion-item color="light" class="text-10">  
    <ion-icon name="mail-open" color="primary"></ion-icon>  
    <ion-label>New Offer 20% OFF by month!</ion-label>  
  </ion-item>  
</ion-list>  
